// --------------------------------------
// Wrapper
// --------------------------------------

body {
	background: $purple-01;
	font-family: $lato;
}

#main {
	z-index: 2;
	position: relative;
	width: 100%;
	height: 100%;
}

.screen-main {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;

	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 30px;
		padding: 15px 0;
		background: $purple-03;
		clear: both;
		width: 100%;

		h1 {
			float: left;
			font-weight: 100;
			font-size: 25px;
			color: $white-01;
			margin: 0;
			padding: 0 0 0 25px;
		}

		h2 {
			float: right;
			font-weight: 100;
			font-size: 25px;
			color: $white-01;
			margin: 0;
			padding: 0 25px 0 0;
		}

		a {
			display: inline-block;
			color: $white-01;
			padding: 0 0 0 20px;

			&:hover {
				color: $green-01;
			}
		}
	}

	.sidebar {
		position: absolute;
		top: 60px;
		left: 0;
		width: 300px;
		min-height: 100%;
		background: $purple-02;

		i {
			display: inline-block;
			padding-right: 10px;
		}

		a {
			display: block;
			padding: 5px 0 5px 25px;
			color: $white-01;
			text-decoration: none;

			&:hover {
				color: $green-01;
			}
		}

		ul {
			list-style: none;
			font-size: 15px;
			margin: 0;
			padding: 25px 0 0 0;
		}
	}

	.screen-content {
		position: absolute;
		top: 60px;
		left: 300px;
		right: 0;
		min-height: 100%;
		height: auto;
		background: $gray-01;
	}

	.screen-row {
		display: block;
		width: 100%;
		clear: both;
	}

	.screen-column {
		width: 50%;
		display: block;
		float: left;
	}

	.screen-item {
		display: block;
		margin: 20px;
		background: $white-01;
		border-radius: 4px;
	}

	.screen-item-header {
		display: block;
		border-radius: 4px 4px 0 0;

		&.header-blue { background: $blue-01; }
		&.header-green { background: $green-02; }

		h3 {
			display: block;
			color: $white-01;
			font-weight: 100;
			font-size: 20px;
			padding: 10px 20px;
			border-radius: 4px 4px 0 0;
			margin: 0;
		}
	}

	.screen-item-content {
		display: block;

		ul {
			display: block;
			padding: 20px;
			margin: 0;
			list-style: none;
		}

		li {
			font-weight: 100;
			font-size: 15px;
			padding: 10px 0;
			border-top: 1px solid $gray-01;

			&:first-child {
				padding: 0 0 10px;
				border: none;
			}
		}

		a {
			color: $gray-03;
			text-decoration: none;

			&:hover {
				color: $green-01;
			}
		}
	}
}