/* line 4, dashboard.scss */
body {
  background: #41446a;
  font-family: "Lato", sans-serif;
}

/* line 9, dashboard.scss */
.background {
  background: url(../../images/background.jpg) center center no-repeat;
  background-size: cover;
  -webkit-filter: blur(2px) opacity(50%) brightness(50%);
          filter: blur(2px) opacity(50%) brightness(50%);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* line 22, dashboard.scss */
h2 {
  font-size: 60px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 40px;
}

/* line 29, dashboard.scss */
#main {
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 36, dashboard.scss */
.btn-next,
.btn-getStarted {
  display: inline-block;
  border: 1px solid #45db5e;
  color: #45db5e;
  border-radius: 150px;
  padding: 10px 0 15px;
  min-width: 150px;
  font-weight: 100;
  font-size: 20px;
  text-decoration: none;
}
/* line 48, dashboard.scss */
.btn-next:hover,
.btn-getStarted:hover {
  border-color: #fff;
  color: #fff;
}

/* line 54, dashboard.scss */
.pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 63, dashboard.scss */
.pagination li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #fff;
  opacity: 0.3;
  margin: 0 10px;
}
/* line 72, dashboard.scss */
.pagination li.active {
  opacity: 0.8;
}

/* line 78, dashboard.scss */
.screen-welcome {
  text-align: center;
}
/* line 81, dashboard.scss */
.screen-welcome label input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #45db5e;
  font-size: 40px;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  color: #fff;
  padding: 10px 0;
  display: block;
  width: 300px;
  margin: 0 auto 60px;
}
/* line 95, dashboard.scss */
.screen-welcome label input::-webkit-input-placeholder {
  color: #45db5e;
}
.screen-welcome label input::-moz-placeholder {
  color: #45db5e;
}
.screen-welcome label input:-ms-input-placeholder {
  color: #45db5e;
}
.screen-welcome label input::placeholder {
  color: #45db5e;
}

/* line 101, dashboard.scss */
.screen {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.28, 0.11, 0.32, 1), opacity 0.3s cubic-bezier(0.28, 0.11, 0.32, 1);
          transition: transform 0.3s cubic-bezier(0.28, 0.11, 0.32, 1), opacity 0.3s cubic-bezier(0.28, 0.11, 0.32, 1);
}
/* line 111, dashboard.scss */
.screen.active {
  opacity: 1;
  z-index: 3;
}
/* line 116, dashboard.scss */
.screen.screen-name.active {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/* line 119, dashboard.scss */
.screen.screen-name.active.finish {
  opacity: 0;
  -webkit-transform: translate(-150%, -50%);
      -ms-transform: translate(-150%, -50%);
          transform: translate(-150%, -50%);
}
/* line 125, dashboard.scss */
.screen.screen-team {
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
/* line 128, dashboard.scss */
.screen.screen-team.active {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
