<div class="screen-home screen-main">
	<header class="header">
		<h1>Dashboard</h1>
		<h2>Hello, <strong>{{name}}</strong><a href="preferences.html"><i class="fa fa-cogs"></i></a></h2>
	</header>
	<div class="sidebar">
		<ul>
			<li><a href="index.html"><i class="fa fa-tachometer"></i> Dashboard</a></li>
			<li><a href="news.html"><i class="fa fa-newspaper-o"></i> Latest News</a></li>
			<li><a href="#"><i class="fa fa-trophy"></i> Rankings</a></li>
			<li><a href="#"><i class="fa fa-users"></i> Player Stats</a></li>
			<li><a href="#"><i class="fa fa-rocket"></i> Game Center</a></li>
		</ul>
	</div>
	<div class="screen-content">
		<div class="screen-row">
			<div class="screen-column">
				<div class="screen-item">
					<div class="screen-item-header header-blue">
						<h3>Recent News</h3>
					</div>
					<div class="screen-item-content">
						<ul>
							<li><a href="http://www.nfl.com/news/story/0ap3000000502466/article/brett-favre-inducted-into-packers-hall-of-fame">Brett Favre inducted into Packers Hall of Fame</a></li>
							<li><a href="http://www.nfl.com/news/story/0ap3000000502445/article/marshall-calls-kyle-orton-best-qb-he-ever-played-with">Marshall calls Kyle Orton best QB he ever played with</a></li>
							<li><a href="http://www.nfl.com/news/story/0ap3000000502450/article/pats-edelman-on-tom-brady-hes-a-little-ticked-off">Pats' Edelman on Tom Brady: 'He's a little ticked off'</a></li>
							<li><a href="http://www.nfl.com/news/story/0ap3000000502449/article/demaryius-aiming-for-nfls-receiving-yardage-mark">Demaryius aiming for NFL's receiving yardage mark</a></li>
							<li><a href="http://www.nfl.com/news/story/0ap3000000502501/article/jermaine-gresham-set-to-visit-cardinals-this-week">Jermaine Gresham set to visit Cardinals this week</a></li>
							<li><a href="#">More News...</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="screen-column">
				<div class="screen-item">
					<div class="screen-item-header header-green">
						<h3>Rankings</h3>
					</div>
					<div class="screen-item-content">
						<ul>
							<li><a href="#" data-id="2540168" data-esbid="LAC702361" data-gsisPlayerId="00-0030485" data-teamAbbr="GB" data-rank="1" data-position="RB">1. Eddie Lacy</a></li>
							<li><a href="#" data-id="2507164" data-esbid="PET260705" data-gsisPlayerId="00-0025394" data-teamAbbr="MIN" data-rank="2" data-position="RB">2. Adriane Peterson</a></li>
							<li><a href="#" data-id="925" data-esbid="CHA561428" data-gsisPlayerId="00-0026213" data-teamAbbr="KC" data-rank="3" data-position="RB">3. Jamaal Charles</a></li>
							<li><a href="#" data-id="2540175" esbid="BEL474300" gsisPlayerId="00-0030496" data-teamAbbr="PIT" data-rank="4" data-position="RB">4. La'Veon Bell</a></li>
							<li><a href="#" data-id="234" data-esbid="FOR645404" data-gsisPlayerId="00-0026184" data-teamAbbr="CHI" data-rank="5" data-position="RB">5. Matt Forte</a></li>
							<li><a href="#">More Rankings...</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>