<div class="screen-news screen-main">
	<header class="header">
		<h1>Dashboard</h1>
		<h2>Hello, <strong>{{name}}</strong><a href="#"><i class="fa fa-cogs"></i></a></h2>
	</header>
	<div class="sidebar">
		<ul>
			<li><a href="#"><i class="fa fa-tachometer"></i> Dashboard</a></li>
			<li><a href="#"><i class="fa fa-newspaper-o"></i> Latest News</a></li>
			<li><a href="#"><i class="fa fa-trophy"></i> Rankings</a></li>
			<li><a href="#"><i class="fa fa-users"></i> Player Stats</a></li>
			<li><a href="#"><i class="fa fa-rocket"></i> Game Center</a></li>
		</ul>
	</div>
	<div class="screen-content">
		<div class="screen-row">
			<div class="screen-column">
				<div class="screen-item">
					<div class="screen-item-header">
						<a href="http://www.rotoworld.com/player/nfl/1813/philip-rivers">
							<img src="images/chargers/logo-001.png"/>
							<h3>Rivers appears poised to play out contract yr - Philip Rivers | SD</h3>
						</a>
					</div>
				</div>
			</div>
			<div class="screen-column">
				<div class="screen-item">
					<div class="screen-item-header">
						<a href="http://www.rotoworld.com/player/nfl/8764/josh-hill">
							<img src="images/saints/logo-001.png"/>
							<h3>Saints will use 'committee' to replace Graham - Josh Hill | NO</h3>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>