<div class="screen-player screen-main">
	<header class="header">
		<h1>Dashboard</h1>
		<h2>Hello, <strong>{{name}}</strong><a href="preferences.html"><i class="fa fa-cogs"></i></a></h2>
	</header>
	<div class="sidebar">
		{{> sidebar}}
	</div>
	<div class="screen-content player-info"></div>
</div>