<div class="screen-rankings screen-main">
	<header class="header">
		<h1>Dashboard</h1>
		<h2>Hello, <strong>{{name}}</strong><a href="preferences.html"><i class="fa fa-cogs"></i></a></h2>
	</header>
	<div class="sidebar">
		<ul>
			<li><a href="index.html"><i class="fa fa-tachometer"></i> Dashboard</a></li>
			<li><a href="news.html"><i class="fa fa-newspaper-o"></i> Latest News</a></li>
			<li><a href="#"><i class="fa fa-trophy"></i> Rankings</a></li>
			<li><a href="#"><i class="fa fa-users"></i> Player Stats</a></li>
			<li><a href="#"><i class="fa fa-rocket"></i> Game Center</a></li>
		</ul>
	</div>
	<div class="screen-content">
		<div class="screen-row filter">
			<div class="screen-column column-4">
				<div class="screen-item">
				    <ul>
				        <li class="filter-draft"><a href="#">Draft Rankings</a></li>
				        <li class="filter-position"><strong>Position:</strong></li>
				        <li class="all"><a href="#">All</a></li>
				        <li><a href="#">QB</a></li>
				        <li><a href="#">WR</a></li>
				        <li><a href="#">RB</a></li>
				        <li><a href="#">TE</a></li>
				        <li><a href="#">K</a></li>
				        <li><a href="#">DEF</a></li>
				    </ul>
				</div>
			</div>
		</div>
		<div class="screen-row">
			<div class="screen-column column-4">
				<div class="screen-item" data-position="WR">
					<div class="screen-item-content">
						<a href="#" class="stats-link" data-id="2507164">
							<span class="player-rank">1.</span>
							<span class="player-image"><img src="http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/GRE034604.png"></span>
							<span class="player-name">AJ Green</span>
							<span class="player-position">WR</span>
							<span class="player-team">CIN</span>
						</a>
						<a href="#" class="follow-link" data-id="2507164"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>