<div class="screen-welcome">
	<div class="screen screen-name active">
		<h2>Hello, what is your name?</h2>
		<label for="name">
			<input id="name" name="name" type="text" placeholder="Name" />
		</label>
		<a href="#" class="btn btn-next">Next</a>
	</div>
	<div class="screen screen-team">
		<h2>What is your favorite team?</h2>
		<label for="team">
			<input id="team" name="team" type="text" placeholder="Team" />
		</label>
		<a href="#" class="btn btn-getStarted">Get Started</a>
	</div>
	<ul class="pagination">
		<li class="active"></li>
		<li></li>
	</ul>
</div>