<ul>
	<li><a href="index.html"><i class="fa fa-tachometer"></i> Dashboard</a></li>
	<li><a href="news.html"><i class="fa fa-newspaper-o"></i> Latest News</a></li>
	<li><a href="rankings.html"><i class="fa fa-trophy"></i> Rankings</a></li>
	<li><a href="#"><i class="fa fa-users"></i> Player Stats</a></li>
	<li><a href="#"><i class="fa fa-rocket"></i> Game Center</a></li>
</ul>