<div class="screen-home">
	<header class="header">
		<h1>Dashboard</h1>
		<h2>Hello, <strong>{{name}}</strong><a href="#"><i class="fa fa-cogs"></i></a></h2>
	</header>
	<div class="sidebar">
		<ul>
			<li><a href="#"><i class="fa fa-tachometer"></i> Dashboard</a></li>
			<li><a href="#"><i class="fa fa-newspaper-o"></i> Latest News</a></li>
			<li><a href="#"><i class="fa fa-trophy"></i> Rankings</a></li>
			<li><a href="#"><i class="fa fa-users"></i> Player Stats</a></li>
			<li><a href="#"><i class="fa fa-rocket"></i> Game Center</a></li>
		</ul>
	</div>
	<div class="screen-content">
		<div class="screen-row">
			<div class="screen-column">
				<div class="screen-item">

				</div>
			</div>
			<div class="screen-column">
				<div class="screen-item">

				</div>
			</div>
		</div>
	</div>
</div>