<div class="screen-home">
	<div class="header">
		<h1>Hello, {{name}}</h1>
	</div>
	<div class="info-bar">
		<ul>
			<li><a href="#"><i class="fa fa-newspaper-o"></i></a></li>
			<li><a href="#"><i class="fa fa-users"></i></a></li>
			<li><a href="#"><i class="fa fa-area-chart"></i></a></li>
			<li><a href="#"><i class="fa fa-rocket"></i></a></li>
			<li><a href="#"><i class="fa fa-cogs"></i></a></li>
		</ul>
	</div>
	<div class="screen-content"></div>
</div>