@import "app/base/core";
@import "theme/base/core";

.background {
	background: url(../../images/background.jpg) center center no-repeat;
	background-size: cover;
	filter: blur(2px) opacity(50%) brightness(50%);
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

h2 {
	font-size: 60px;
	font-weight: 100;
	color: $white-01;
	margin-bottom: 40px;
}

.btn-next,
.btn-getStarted {
	display: inline-block;
	border: 1px solid $green-01;
	color: $green-01;
	border-radius: 150px;
	padding: 10px 0 15px;
	min-width: 150px;
	font-weight: 100;
	font-size: 20px;
	text-decoration: none;

	&:hover {
		border-color: $white-01;
		color: $white-01;
	}
}

.pagination {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 100%;
		background: #fff;
		opacity: 0.3;
		margin: 0 10px;

		&.active {
			opacity: 0.8;
		}
	}
}

.screen-welcome {
	text-align: center;
	opacity: 1;

	transition: opacity 0.3s cubic-bezier(0.28, 0.11, 0.32, 1);

	&.animate-out {
		opacity: 0;
	}

	label input {
		border: 0;
		outline: 0;
		background: transparent;
		border-bottom: 1px solid $green-01;
		font-size: 40px;
		font-family: $lato;
		font-weight: 100;
		color: $white-01;
		padding: 10px 0;
		display: block;
		width: 300px;
		margin: 0 auto 60px;

		&::placeholder {
			color: $green-01;
		}
	}
}

.screen {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	z-index: 2;

	transition: transform 0.3s cubic-bezier(0.28, 0.11, 0.32, 1),
				opacity 0.3s cubic-bezier(0.28, 0.11, 0.32, 1);

	&.active {
		opacity: 1;
		z-index: 3;
	}

	&.screen-name.active {
		transform: translate(-50%, -50%);

		&.finish {
			opacity: 0;
			transform: translate(-150%, -50%);
		}
	}

	&.screen-team {
		transform: translate(50%, -50%);

		&.active {
			transform: translate(-50%, -50%);
		}
	}
}