@import "app/base/core";
@import "theme/base/core";

.screen-player {
    .player-details {
        padding: 40px 0 0;
    }
    
    .player-details-image {
        width: 200px;
        margin: 0 auto;
        padding: 0 40px;
        
        img {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }
    
    .player-details-info {
        padding: 40px 0 80px;
        text-align: center;
        color: $gray-04;
        
        span {
            display: inline-block;
            vertical-align: middle;
            font-size: 25px;
            font-weight: 100;
            padding: 0 20px;
            border-left: 1px solid $gray-04;
            
            &.player-name {
                display: block;
                padding-bottom: 20px;
                color: $gray-03;
            }
            
            &.player-name,
            &.player-number {
                border: none;
            }
            
            &.player-following a {
                color: $gray-04;
                
                &:hover,
                &.following { color: $green-01; }
            }
        }
    }
    
    .screen-item-schedule {
        background: $green-02;
        color: $white-01;
        font-weight: 100;
        padding: 20px;
        font-size: 0;
        
        h3 {
            font-weight: 100;
            display: block;
            margin: 0;
            padding: 0 0 20px;
            font-size: 20px;
        }
        
        ul, li {
            margin: 0;
            padding: 0;
        }
        
        ul {
            display: inline-block;
            width: 16.666667%;
            vertical-align: top;
        }
        
        li {
            border: none;
            font-size: 15px;
            padding-top: 10px;
            
            &:first-child {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
        
        .headline {
            border: none;
            + li { border: none; }
        }
    }
    
    .screen-item-notes {
        ul {
            font-size: 0;
        }
        
        li {
            width: 50%;
            font-size: 15px;
            font-weight: 300;
            display: inline-block;
            vertical-align: top;
            border-top: none;
            padding: 0 0 20px;
            
            &:first-child {
                padding: 0 0 20px;
            }
            
            p {
                display: block;
                margin: 0;
                padding: 0 20px 20px;
                color: $gray-03;
                
                strong {
                    color: $black-02;
                }
            }
            
        }
    }
    
    .screen-item-videos {
        ul {
            font-size: 0;
        }
        
        li {
            display: inline-block;
            width: 20%;
            vertical-align: top;
            padding: 0 0 20px;
            border: none;
            
            &:first-child {
                padding: 0 0 20px;
                border: none;
            }
            
            a {
                display: block;
                padding: 0 10px;
                color: $gray-03;
                font-weight: 100;
                
                span {
                    position: relative;
                    display: block;
                }
                
                img {
                    width: auto;
                    max-width: 100%;
                    height: auto;
                }
                
                .fa {
                    position: absolute;
                    color: $white-01;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 40px;
                    opacity: .7;
                }
                
                strong {
                    display: block;
                    padding: 10px 0 0;
                }
                
                &:hover {
                    .fa {
                        color: $white-01;
                        opacity: 1;
                    }
                    
                    strong {
                        color: $black-02;
                    }
                }
            }
        }
    }
}

$map-team-logos: ("ARI","ATL","BAL","BUF","CAR","CHI","CIN","CLE","DAL","DEN","DET","GB","HOU","IND","JAC","KC","MIA","MIN","NE","NO","NYG","NYJ","OAK","PHI","PIT","SD","SF","SEA","STL","TB","TEN","WAS");

@each $team in $map-team-logos {
    .team-#{$team} {
        background: url(../../images/#{$team}/logo-001.png) no-repeat right top;
        background-size: auto 50%;
    }
}