@import "app/base/core";
@import "theme/base/core";

.screen-player {

}

$map-team-logos: ("ARI","ATL","BAL","BUF","CAR","CHI","CIN","CLE","DAL","DEN","DET","GB","HOU","IND","JAC","KC","MIA","MIN","NE","NO","NYG","NYJ","OAK","PHI","PIT","SDC","SF","SEA","STL","TB","TEN","WAS");

@each $team in $map-team-logos {
    .team-#{$team} {
        background: url(../../images/#{$team}/logo-001.png) no-repeat right top;
        background-size: auto 70%;
    }
}