@import "app/base/core";
@import "theme/base/core";

.screen-preferences {
    .screen-column {
        float: none;
        margin: 0 auto;
    }

    .screen-item {
        h4 {
            font-size: 20px;
            font-weight: 300;
            display: block;
            padding: 0 20px 20px;
            margin: 0;

            &:first-child { padding-top: 20px; }
        }

        p {
            padding: 20px;
            display: block;
            margin: 0;
        }

        label {
            display: block;
            padding: 0 20px 20px;

            &:first-child {
                padding-top: 20px;
            }
        }
    }

    .btn {
        display: inline-block;
        margin: 0 0 20px 20px;
        border-radius: 4px;
        background: $green-01;
        padding: 10px 20px;
        color: $white-01;
        text-decoration: none;
    }
}