@import "app/base/core";
@import "theme/base/core";

.screen-preferences {
    .screen-column {
        float: none;
        margin: 0 auto;
    }

    .screen-item {
        h4 {
            font-size: 20px;
            font-weight: 300;
            display: block;
            padding: 0 20px 20px;
            margin: 0;

            &:first-child { padding-top: 20px; }
        }

        p {
            padding: 20px;
            display: block;
            margin: 0;
        }

        label {
            display: block;
            padding: 0 20px 20px;

            &:first-child {
                padding-top: 20px;
            }
            
            p {
                padding: 0 0 20px;
            }
        }
        
        textarea,
        [type="text"] {
            width: 100%;
            border: none;
            outline: none;
            border-bottom: 1px solid $gray-01;
            padding: 10px 0;
        }
        
        [type="text"] {
            font-family: $lato;
            font-size: 15px;
            font-weight: 300;
        }
        
        textarea {
            font-family: monospace;
            font-size: 10px;
            border: 1px solid $gray-01;
        }
    }

    .btn {
        display: inline-block;
        margin: 0 0 20px 20px;
        border-radius: 4px;
        background: $green-01;
        padding: 10px 20px;
        color: $white-01;
        text-decoration: none;
    }
}