/* line 6, rankings.scss */
.screen-rankings .filter ul {
  margin: 0;
  padding: 20px;
  list-style: none;
  display: block;
}
/* line 13, rankings.scss */
.screen-rankings .filter li {
  display: inline-block;
  padding: 0 15px;
  font-size: 15px;
  font-weight: 30px;
  border-left: 1px solid #ccc;
}
/* line 20, rankings.scss */
.screen-rankings .filter li.filter-draft {
  border-left: none;
  padding-left: 0;
}
/* line 25, rankings.scss */
.screen-rankings .filter li.all {
  border-left: none;
}
/* line 28, rankings.scss */
.screen-rankings .filter a {
  display: block;
  text-decoration: none;
  color: #111;
}
/* line 33, rankings.scss */
.screen-rankings .filter a:hover {
  color: #45db5e;
}
/* line 39, rankings.scss */
.screen-rankings .screen-item-content .stats-link {
  padding: 20px;
  display: block;
}
/* line 44, rankings.scss */
.screen-rankings .screen-item-content span {
  display: inline-block;
  vertical-align: middle;
  font-size: 25px;
  font-weight: 100;
}
/* line 50, rankings.scss */
.screen-rankings .screen-item-content span.player-image {
  width: 75px;
  overflow: hidden;
  padding: 0 40px 0 20px;
  background: url(../../images/bengals/logo-001.png) no-repeat right top;
  background-size: auto 70%;
}
/* line 57, rankings.scss */
.screen-rankings .screen-item-content span.player-image img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
/* line 64, rankings.scss */
.screen-rankings .screen-item-content span.player-name {
  padding: 0 20px;
}
/* line 66, rankings.scss */
.screen-rankings .screen-item-content span.player-position {
  padding: 0 20px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
/* line 72, rankings.scss */
.screen-rankings .screen-item-content span.player-team {
  padding-left: 20px;
}
